# Example environment configuration file.
# Copy this file to ".env" and fill in the appropriate values.

# === General settings ===
DAYS_BACK=10 # Number of days of historical data to fetch.
TESTING=False # Set to True to enable testing mode which pull a portion of the data for faster runs.

# === Coris (Yale Museum - primary account) ===
CORIS_ENABLED=True
CATS_USER_ID=2496
CORIS_API_KEY=your_coris_api_key_here

# === Coris (Yale Libraries - lux sensors) ===
# Additional Coris account for lux sensor data. Leave blank to skip.
CORIS_API_KEY_LIBRARIES=your_coris_libraries_api_key_here
CATS_USER_ID_LIBRARIES=3088

# === LI-COR ===
LICOR_ENABLED=False
LICOR_API_KEY=your_licor_api_key_here
    
# === Conserv ===
CONSERV_ENABLED=True
CONSERV_API_KEYS=[{"id":123,"key":"your_conserv_api_key_here"},{"id":456,"key":"your_conserv_api_key_here"}] # Conserv can have multiple customers.
